{% extends 'AppBlog/padre.html' %}

{% load static %}

{% block contenido_avatar %}

    <img class='mx-2' height='50px' src='{{url}}' alt='Avatar' title='Avatar'>

{% endblock %}

{% block titulo_header %}

    <h1>Sobre Nosotros</h1>
    <span class='subheading'>Conocemos un poco más</span>

{% endblock %}

{% block contenido_principal %}

    <main class='mb-4'>
        <div class='container px-4 px-lg-5'>
            <div class='row gx-4 gx-lg-5 justify-content-center'>
                <div class='col-md-10 col-lg-8 col-xl-7'>
                    <p>¡Bienvenido a DRIVE 2 SURVIVE!</p>
                    <p>Somos apasionados de la Fórmula 1 y estamos aquí para llevarte más allá de la pista. En nuestro blog, encontrarás las últimas noticias, análisis y momentos emocionantes de este apasionante deporte. Ya seas un fanático de toda la vida o estés descubriendo la F1, estamos aquí para compartir contigo nuestra pasión por la velocidad y la competición..</p>
                    <p>Acompáñanos en este viaje emocionante a través del mundo de la Fórmula 1.</p>
                    <img class='img-fluid' src='{% static "AppBlog/assets/img/about.jpg" %}' alt='Sobre Nosotros' title='Sobre Nosotros' loading='lazy'>
                    <button type='button' class='btn btn-primary position-relative mt-3'>
                        <a href='{% url "Inicio" %}' style='color: white;'>IR A INICIO</a>
                    </button>
                </div>
            </div>
        </div>
    </main>

{% endblock %}